<header class="masthead contact-bg">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>Edit your Post</h1>
          <span class="subheading">Fix what was on your mind?</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content
-->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <p>What would you like to say now?</p>
      <!-- Contact Form - Enter your email address on line 19 of the mail/contact_me.php file to make this form work.
      -->
      <!-- WARNING: Some web hosts do not allow emails to be sent through forms to common mail hosts like Gmail or Yahoo. It's recommended that you use a private domain email address!
      -->
      <!-- To use the contact form, your site must be on a live web host with PHP! The form will not work locally!
      -->

      <%= render 'form', post: @post %>
    </div>
  </div>
</div>
<hr/>

